
<div dir="ltr">
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
      <br>Dear <%= platform.name %> Member
    </h1>
Your Discord account has been removed from <%= platform.name %> Server due to inactivity.&nbsp;&nbsp;
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Please use following link to join back and make sure</div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">to log into Discord and follow <%= platform.name %> Server regularly</div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">to select roles most applicable to you</div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">This invite will be valid only one week.</div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
    <br>
    <span style="font-size: 12pt;">
      <a href="<%= invite %>" rel="noopener" target="_blank" style="color: #ffffff; background-color: #3c9dc9; border: 0px solid #000000; border-radius: 3px; box-sizing: border-box; font-weight: bold; line-height: 40px; padding: 24px; text-decoration-line: none; text-transform: uppercase; vertical-align: middle;">JOIN DISCORD BACK</a>&nbsp;
    </span>
  </div>
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; text-align: center; width: 612px;">
    <br>
  </div>
&nbsp;
    <%= footer %>

</div>