<div dir="ltr">
  <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
      <br>Couple of Steps to Complete
    </h1>
    <div style="width: 612px; margin-left: auto; margin-right: auto;">
      <strong>Install Discord App</strong> on your mobile device to receive messages /events timely.
    </div>
    <div style="width: 612px; margin-left: auto; margin-right: auto;">
      <br>
    </div>
Before you start interacting with our great community, please read/accept the server rules.
  </div>

  <div style="width: 625px; margin: 0 auto;">
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1zqiHIW9vvTxEpy9WuoRPNvCgisxmCuQa" height="250"/>
    </div>
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1zlx27zm93KeGx-AssWjQgtUBlpAOGHTb" height="250"/>
    </div>
  </div>

  <div style="clear: both; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">    
    <br>
    Set your <strong>Nickname</strong> as in your registration form so that we can get to know each other better.
  </div>

  <div style="width: 505px; margin: 0 auto;">
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1GwGhykoDSV0M0g1tHEkTvABVsYpn6vs0" height="250"/>
    </div>
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1fSiGnuzqlmXvexVF8sUiJ0NrD7TSaGOM" height="250"/>
    </div>
  </div>
  
  <% if (channels.roleSelectionChannel) { %>
  <div style="clear: both; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
    Visit <strong>#🔴select-role</strong> channel and select your roles which are referring to the areas you are interested in and help us communicate to you in a better way.
  </div>
  <% } %>
  <div style="clear: both; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
    <strong>Tune notification settings</strong> so that you don't miss any important messages targeting you.&nbsp;
  </div>

  <div style="width: 585px; margin: 0 auto;">
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1FPNW3UDTUm_xlNoV1Nk1Bie0C0RdInmn" height="250"/>
    </div>
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1wi_39sC7Hyx0WudiIyfwF1qUTFQCW2Ft" height="250"/>
    </div>
    <div style="float:left;margin-right:5px;">
        <img src="https://drive.google.com/uc?export=view&id=1BqVyfPNB-_UEJu5LCJY_jMbxLqpAqpjv" height="250"/>
    </div>
  </div>

  <% if (references['Onboarding Tutorial']) {%>
  <div style="clear: both; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;"> 
    <br>For more information please take a look into the 
    <a href="<%= references['Onboarding Tutorial'] %>"><strong>onboarding tutorial</strong></a>.
  </div>
  <% } %>
  <div style="clear: both; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
    <br>
  </div>
&nbsp;
  <%= footer %>

</div>
