<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
    <br>You have a mentor!
  </h1>
  <strong><%= mentee %></strong>, you are not alone anymore.&nbsp;
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <strong>
    <br>
  </strong>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <strong><%= mentor %></strong>, CCed, has been assigned as your mentor.&nbsp;
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  A private channel, named
  <strong style="background-color: #cfe2f3;">
    <span style="color: #cc0000;">#<%= channel %></span>
  </strong>, has been created on <%= platform.name %> Discord Server.&nbsp;&nbsp;
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  Every mentorship is unique, however, successful mentorships share some characteristics. Mutual respect, a two-way
  professional relationship, communication and listening, constructive feedback and active listening, honest effort and
  commitment, showing up and trying your hardest, and realistic expectations are essential in setting up a successful
  mentorship.</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  You can reach out to your mentor anytime you need through <strong style="background-color: #cfe2f3;">
    <span style="color: #cc0000;">#<%= channel %></span>
  </strong> Discord channel.
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  Please start asking your questions and set up a kickoff meeting.</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>Thanks for choosing <%= platform.name %> as the community you want to be part of.
  <br>
  <br>
  <br>
</div>
&nbsp;
<%= footer %>