<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
    <br>Action needed!
  </h1>
Hi&nbsp; 
  <strong><%= communityBuilder %>,&nbsp;</strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <strong>
    <br>
  </strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Couple of days ago, you were&nbsp;assigned as&nbsp; 
  <strong><%= member %></strong>'s&nbsp;onboarding assistant. 
  <strong>&nbsp;</strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">If he/she has already reached out to you, please visit 
  <a href="https://www.notion.so/itsociety/f1913171c80a42168632b4166eea79bd" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.notion.so/itsociety/f1913171c80a42168632b4166eea79bd&amp;source=gmail&amp;ust=1673720221192000&amp;usg=AOvVaw0k63dWZB2cEmNApRy5Avkg" rel="noopener">Onboarding Dashboard</a> and update 
  <strong>Onboarding Status</strong> as&nbsp; 
  <strong>Communicated</strong>. &nbsp;
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Otherwise, please reply to the initial assignment email and ignite the conversation.</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">If you get any response, again, please visit 
  <a href="https://www.notion.so/itsociety/f1913171c80a42168632b4166eea79bd" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.notion.so/itsociety/f1913171c80a42168632b4166eea79bd&amp;source=gmail&amp;ust=1673720221192000&amp;usg=AOvVaw0k63dWZB2cEmNApRy5Avkg" rel="noopener">Onboarding Dashboard</a> and do the&nbsp;same.
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Otherwise update&nbsp; 
  <strong>Onboarding Status</strong>&nbsp;as&nbsp; 
  <strong>Dormant</strong>.
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>Thanks for your&nbsp;support to&nbsp;our&nbsp;great&nbsp;community. 
  <br>
  <br>
  <br>
</div>
&nbsp;
<table style="text-align: center; border-collapse: collapse; background-color: transparent;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="word-break: break-word; min-width: 100%; border-top: 2px solid #000000;" valign="top">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table style="border-collapse: collapse;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td style="word-break: break-word; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;" valign="top">
        <table style="border-collapse: collapse; table-layout: fixed;" role="presentation" border="0" width="100%" cellspacing="24" cellpadding="0">
          <colgroup>
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1">
          </colgroup>
          <tbody>
            <tr>
              <td style="word-break: break-word; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;" colspan="12" valign="top" width="100%">
                <table style="border-collapse: collapse;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="word-break: break-word;" align="center" valign="top">
                        <table style="border-collapse: collapse;" role="presentation" border="0" width="" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td style="word-break: break-word; padding-left: 24px; padding-top: 0px; padding-right: 24px;" valign="top">
                                <a href="https://www.linkedin.com/in/it-society/" rel="noopener" style="word-break: break-word; display: block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/in/it-society/&amp;source=gmail&amp;ust=1673720221192000&amp;usg=AOvVaw2_Wu2g2DpwCXB5nP27g97L">
                                  <img class="gmail_canned_response_image" style="border: 0px; height: auto; outline: none; text-decoration-line: none; width: 40px; max-width: 100%; display: block;" src="https://ci4.googleusercontent.com/proxy/X3_nmqIB1EXLKCHQIWITrppvQBVz_Lz6TPLyhW9IF-O2Yvq_B3rERpc-8cvh_926yuLzLwDe1lt0S3PfsY0rEhGGSuewNf9cBMdXt_wCvETcuVu3Ou0H5sYWDhXDZ9ixLOS19QISwY1kPu5fSFboNSwblAKfj6ay0LuMSGrioqNYG1AjDcJVfHvLnD816uL0RvJiS2-ujmK1MPVqxKkvn8a9CXnp=s0-d-e1-ft#https://dim.mcusercontent.com/https/cdn-images.mailchimp.com%2Ficons%2Fsocial-block-v3%2Fblock-icons-v3%2Flinkedin-filled-color-40.png?w=40&amp;dpr=2" alt="LinkedIn icon" width="40">
                                </a>
                              </td>
                              <td style="word-break: break-word; padding-left: 24px; padding-top: 0px; padding-right: 24px;" valign="top">
                                <a href="https://www.itsociety.org/" rel="noopener" style="word-break: break-word; display: block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.itsociety.org/&amp;source=gmail&amp;ust=1673720221192000&amp;usg=AOvVaw0i6XPggRFLcwVylzKxDo9f">
                                  <img class="gmail_canned_response_image" style="border: 0px; height: auto; outline: none; text-decoration-line: none; width: 40px; max-width: 100%; display: block;" src="https://ci5.googleusercontent.com/proxy/r8dQUqLy5H9rxKveTISlcfJ5583mhWB7bg7uDP60kt5DTBAzKQPSow9ElNvk93OwPBGm_FFHf_CqgPUfW79XiKAeUlz6LYtpPkaJ7pZtuFURMr6cRQusAN9irx9OUdK_5LP8JDSoze5Jh1_Thmk6NjCp0uYGDhT_GOZqSe15D5_F_XdiPXFrN75WZoGG6IQjeAqcjwAjksQ_BQoZNrIrq7eab8c=s0-d-e1-ft#https://dim.mcusercontent.com/https/cdn-images.mailchimp.com%2Ficons%2Fsocial-block-v3%2Fblock-icons-v3%2Fwebsite-filled-color-40.png?w=40&amp;dpr=2" alt="Website icon" width="40">
                                </a>
                              </td>
                              <td style="word-break: break-word; padding-left: 24px; padding-top: 0px; padding-right: 24px;" valign="top">
                                <a href="https://twitter.com/itsociety_org" rel="noopener" style="word-break: break-word; display: block;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/itsociety_org&amp;source=gmail&amp;ust=1673720221192000&amp;usg=AOvVaw1KV8n9oTbssdsQ2Ea85DmA">
                                  <img class="gmail_canned_response_image" style="border: 0px; height: auto; outline: none; text-decoration-line: none; width: 40px; max-width: 100%; display: block;" src="https://ci4.googleusercontent.com/proxy/POkTKwvqTKTyl5mBQ1X3_KfePO332k1O6rl-r2xnlHpF31kzaOnfZI6LUhzB8yRMFEMmwyhmlMcHmIfYL4brUbOFrkc99Hvlo9Jma7xkTyrpugwTHIqLDGd155mBRKSW9jqLbkqM5yP2K6RRYrql1ao1sp3WFammAdDkkJcDQt8gUFgjmBaBoQyzXuJMILGcWuTZ-oGfoBm9fk4cse0jBywOkz0=s0-d-e1-ft#https://dim.mcusercontent.com/https/cdn-images.mailchimp.com%2Ficons%2Fsocial-block-v3%2Fblock-icons-v3%2Ftwitter-filled-color-40.png?w=40&amp;dpr=2" alt="Twitter icon" width="40">
                                </a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table id="gmail-gmail-section_62a41fc08879687c009376a650dd945a" style="border-collapse: collapse;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0" align="center">
  <tbody>
    <tr>
      <td style="word-break: break-word; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;" valign="top">
        <table style="border-collapse: collapse; table-layout: fixed;" role="presentation" border="0" width="100%" cellspacing="12" cellpadding="0">
          <colgroup>
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1"> 
            <col span="1">
          </colgroup>
          <tbody>
            <tr>
              <td style="word-break: break-word; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; padding-top: 0px; padding-bottom: 0px;" colspan="12" valign="top" width="100%">
                <table style="border-collapse: collapse;" role="presentation" border="0" width="100%" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td style="word-break: break-word; padding: 12px 24px;" align="center" valign="top">
                        <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 12px; display: inline-block; width: 596px;">
                          <p style="margin: 0px; padding: 0px; word-break: break-word;">
                            <em>Copyright (C) 2022 IT Society. All rights reserved.</em> 
                            <br>You are receiving this email because you opted in via registration form. 
                            <br>
                            <br>Our mailing address is: 
                            <br>
                          </p>
                          <div>IT Society
                            <div>
                              <div>760 Newhall Dr</div>
San Jose,&nbsp;CA&nbsp;95110-1106
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
