<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
    <br>Action needed!
  </h1>
Hi&nbsp; 
  <strong><%= communityBuilder %>,&nbsp;</strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <strong>
    <br>
  </strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Couple of days ago, you were&nbsp;assigned as&nbsp; 
  <strong><%= member %></strong>'s onboarding assistant. 
  <strong>&nbsp;</strong>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">If he/she has already reached out to you, please visit 
  <u>Onboarding Dashboard</u> and update 
  <strong>Onboarding Status</strong> as&nbsp; 
  <strong>Communicated</strong>. &nbsp;
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">Otherwise, please reply to the initial assignment email and ignite the conversation.</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">If you get any response, again, please visit 
  <u>Onboarding Dashboard</u> and do the same.
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>Thanks for your&nbsp;support to&nbsp;our&nbsp;great&nbsp;community. 
  <br>
  <br>
  <br>
</div>
&nbsp;
<%= footer %>

