<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
    <br>You are not alone!
  </h1>
  <strong>
    <%= member %>
  </strong>, we know that it is not easy to join a new community. Having new friends, getting support from or
  lending help to people you don't know.
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  Don't worry, we want to make your journey smooth and warm.</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  <br>
</div>
<div
  style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
  &nbsp;
  <strong>
    <%= communityBuilder %>
  </strong>, CCed, will help you out for any questions you might have about
  <strong><%= platform.name %></strong>. You can reply to this email to ignite the conversation.
  <br>
  <br>Thanks for choosing <%= platform.name %> as the community you want to be part of.
  <br>
  <br>
  <br>
</div>
&nbsp;
<%= footer %>
