<div dir="ltr">
  <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
      <h1 style="margin: 0px 0px 24px; padding: 0px; font-size: 31.248px;">
        <br>
      </h1>
      <div style="text-align: left;">
        <span style="font-weight: normal;">Hi <%= referral %>&nbsp;</span>
      </div>
      <div style="width: 612px; margin-left: auto; margin-right: auto;">
        <br>
      </div>
      <div style="text-align: left;">We want to remind you that your friend <strong><%= referrer %></strong> is inviting you to 
        <a href="<%= platform.url%>" target="_blank" rel="noopener"><%= platform.name%></a>&nbsp;which is <%= platform.intro%>
      </div>
      <div style="text-align: left;">
        <br>
      </div>
      <div>
        <img class="gmail_canned_response_image" style="margin-right: 0px;" src="<%= platform.icon %>" width="145" height="108"> 
        <% _.forEach(platform.affiliate_icons, (icon) => {%>
        <img class="gmail_canned_response_image" style="margin-right: 0px;" src="<%- icon %>" width="106" height="106"> 
        <% })%>
        <br>
      </div>
      <div style="text-align: left;"; text-align: left; font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
        <%= platform.details%>
        <% if (references.Join)  { %>
        <p>
          <a href="<%= references.Join %>" target="_blank" rel="noopener">Join us today</a>&nbsp;to be an active member of our society.
        </p>
        <% } %>
      </div>
      <div style="display: <%= notes ? 'block' : 'none' %>">
        <p style="text-align: left;">Your friend's note:</p>
        <blockquote class="gmail_quote" style="margin: 0px 0px 0px 0.8ex; border-left: 1px solid #cccccc; padding-left: 1ex; text-align: left;">
          <span style="color: #0000ff;"><%= notes || '' %> 
            <br>
          </span>
        </blockquote>
      </div>
      <% if (references.Join)  { %>
      <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
        <div style="width: 612px; margin-left: auto; margin-right: auto;">
          <br>
          <br>
          <span style="font-size: 12pt;">
            <a href="<%= references.Join %>" rel="noopener" style="text-transform: uppercase; color: #ffffff; background-color: #3c9dc9; border: 0px solid #000000; border-radius: 3px; box-sizing: border-box; font-weight: bold; line-height: 40px; padding: 24px; text-decoration-line: none; text-transform: uppercase; vertical-align: middle;" target="_blank">JOIN <%= platform.name%></a>
          </span>
        </div>
        <div style="width: 612px;">
          <br>
        </div>
      </div>
      <% } %>
      <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
        <br>
      </div>
      <div style="font-family: 'Helvetica Neue',Helvetica,Arial,Verdana,sans-serif; font-size: 16px; text-align: center; width: 612px; margin-left: auto; margin-right: auto;">
        <br>
      </div>
    &nbsp;
    <%= footer %>
  </div>
</div>
