<div dir="ltr">
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    <h1 style="margin:0px 0px 24px;padding:0px;font-size:31.248px"><br>Welcome to <%= platform.name %>!</h1>One more step remaining. <b><%= platform.name %> Discord Server</b> is the integral tool to communicate and get up to speed with all the activities you can engage. &nbsp;
  </div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    <br></div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    Please join our Discord Server.</div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    <br></div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">  
    Keep in mind that this invitation is <b>only for you, one-time use and expires in 7 days.</b></div>
  <div
  style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
  <br></div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    If you haven't used Discord before, please first <a href="https://discord.com/register" target="_blank">create a new account</a>, log in and then follow the invitation link below. </div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px;margin-left:auto;margin-right:auto">
    <br><br><span style="font-size:12pt"><a href="<%= invite %>" rel="noopener"
        style="color:rgb(255,255,255);background-color:rgb(60,157,201);border:0px solid rgb(0,0,0);border-radius:3px;box-sizing:border-box;font-weight:bold;line-height:40px;padding:24px;text-decoration-line:none;text-transform:uppercase;vertical-align:middle"
        target="_blank">JOIN DISCORD</a></span></div>
  <div
    style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,Verdana,sans-serif;font-size:16px;text-align:center;width:612px">
    <br></div>&nbsp;
  
    <%= footer %>

</div>